.controls.hidden
  %h1#roll-output
    \-
  %button#roll-button 
    Roll
  %ul.players

.new-game
  .row
    .content.large-8.columns.offset-2
      .large-8.columns#rules
      .large-4.columns#players
        %h2
          New Game
        %P
          Enter the names of each drinker.
        %form#players-input
          %input.player-input{type: "text", placeholder: "Player 1's Name"}
          %input.player-input.hidden{type: "text", placeholder: "Name"}

        %button#start-game
          Lets Get Drunk!

.choose-player
  %h2
    Choose Player
  %form#player-select

#ss-anne
  %h1
    S.S. Anne
    %button.ssanne.opt1{"data-option" => 1}
      Drink 2. Miss 1
    %button.ssanne.opt2{"data-option" => 2}
      Drink 1. Miss 2

#table
  
#flash.hidden

#sounds
  %audio#sound-clink{preload: "auto"}
    %source{src: 'sounds/glass_clink.ogg'}}
    %source{src: 'sounds/glass_clink.mp3'}}
  %audio#sound-dice{preload: "auto"}
    %source{src: 'sounds/dice_roll_1.ogg'}}
    %source{src: 'sounds/dice_roll_1.mp3'}}
