/ %h1#title
/   PokeBooze v0.1
.controls
  %h1#roll-output
    \-
  %button#roll-button 
    Roll
  %ul.players

.new-game
  %h2
    New Game
  %P
    Enter the names of each drinker.
  %form#players-input
    %input.player-input{type: "text", placeholder: "Player 1's Name"}
    %input.player-input.hidden{type: "text", placeholder: "Name"}

  %button#start-game
    Lets Get Drunk!

#table
  
#flash.hidden

#sounds
  %audio#sound-clink{preload: "auto"}
    %source{src: 'sounds/glass_clink.ogg'}}
    %source{src: 'sounds/glass_clink.mp3'}}
  %audio#sound-dice{preload: "auto"}
    %source{src: 'sounds/dice_roll_1.ogg'}}
    %source{src: 'sounds/dice_roll_1.mp3'}}
