!!! 5

%head
  %title PokeBooze v0.1
  %link{ rel: 'stylesheet', href: "//cdn.jsdelivr.net/foundation/5.0.2/css/foundation.min.css" }
  != css :application, :media => 'screen'
  %script{ src: "//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js" }
  != js :app
%body
  = yield